# Nuxt dev/build outputs
webapp/.output
webapp/.data
webapp/.nuxt
webapp/.nitro
webapp/.cache
webapp/dist

# Node dependencies
webapp/node_modules

# Logs
webapp/logs
webapp/*.log

# Misc
webapp/.DS_Store
webapp/.fleet
webapp/.idea

# Local env files
webapp/.env
webapp/.env.*
webapp/!.env.example


webservice/node_modules
webservice/.env
webservice/.env.*
webservice/!.env.example